.page-detail {
  .post {
    .post--title {
      font-size: 1.5rem;
      margin: 15px 0;
    }

    .post--meta {
      margin-bottom: 30px;
    }

    .user-avatar {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      vertical-align: middle;
    }

    .user-nickname {
      margin-left: 5px;
      vertical-align: middle;
    }

    .created-at {
      margin-left: 5px;
      vertical-align: middle;
    }

    .visit-count {
      margin-left: 5px;
      vertical-align: middle;
      color: #7a7e82;
    }
  }

  .comment-box {
    margin-top: 50px;

    .void {
      padding: 30px;
      font-size: 13px;
      color: #adb4b9;
      text-align: center;
    }

    .all-title {
      margin: 0;
      padding: 0;
      margin-bottom: 15px;
      font-size: 1.2rem;

      .comment-count {
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  .comment-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .comment-item {
      margin-bottom: 15px;
    }
  }

  .comment {
    border: solid 1px #E1E4E8;
    border-radius: 4px;
    overflow: hidden;

    .head {
      background-color: #F6F8FA;
      border-bottom: solid 1px #E1E4E8;
      padding: 7px;
    }

    .avatar {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      vertical-align: middle;
      margin-right: 5px;
    }

    .username {
      margin-right: 5px;
      vertical-align: middle;
    }

    .create-at {
      vertical-align: middle;
      color: #8f9396;
      font-size: 12px;
    }

    .content {
      padding: 15px;
    }
  }
}
