.page-detail {
  .post {
    .post--title {
      font-size: 1.5rem;
      margin: 15px 0;
    }

    .post--meta {
      margin-bottom: 30px;
    }

    .user-avatar {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      vertical-align: middle;
    }

    .user-nickname {
      margin-left: 5px;
      vertical-align: middle;
    }

    .created-at {
      margin-left: 5px;
      vertical-align: middle;
    }

    .visit-count {
      margin-left: 5px;
      vertical-align: middle;
      color: #7a7e82;
    }
  }

  .post-comment {
    margin-top: 30px;
  }
}
